.list {
  margin-bottom: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row > * {
  margin: 0 0.5em;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: smaller;
}
.slider {
  display: flex;
}
.sliderEl {
  width: 7em;
}
